<h1>Pictures</h1>
<%= link_to "New picture", new_picture_path %><br>
<%= paginate(@most_recent_pictures) %>

<% @most_recent_pictures.each do |picture| %>
  <p><%= picture.title %>, <%= picture.artist %></p>
  <%= link_to image_tag(picture.url),  picture_url(picture) %>
<% end %>
